<div>
    <span>
        <h2 class="title-text-lg uppercase">Logo</h2>
        <p class="text-[13px] my-3 text-gray-500">Accepts PNG, JPG & SVG (Recommended)</p>
    </span>
    <br>
    <div class="w-48 border rounded  p-2 h-min relative">
        <img src="https://img.alicdn.com/tfs/TB1g.mWZAL0gK0jSZFtXXXQCXXa-200-200.svg" class="w-full h-full" alt="">
        <span nz-icon nzType="close-circle" class="text-red-500 -right-2 text-xl -top-4 p-1 rounded-full absolute"
            nzTheme="fill"></span>
    </div><br>
    <div>
        <div class="flex gap-x-8 w-full">
            <div class="w-full">
                <label class="title-text-md" for="fullName">FULL NAME</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="fullName" type="text" />
            </div>
            <div class="w-full">
                <label class="title-text-md" for="company">COMPANY</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="company" type="text" />
            </div>
        </div>
        <div class="flex gap-x-8">
            <div class="w-full">
                <label class="title-text-md" for="address">ADDRESS</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="address" type="text" />
            </div>
            <div class="w-full">
                <label class="title-text-md" for="email">EMAIL</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="email" type="text" />
            </div>
        </div>
        <div class="flex gap-x-8">
            <div class="w-full">
                <label class="title-text-md" for="phoneNumber">PHONE NUMBER</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="phoneNumber" type="text" />
            </div>
            <div class="w-full">
                <label class="title-text-md" for="website">WEBSITE</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="website" type="text" />
            </div>
        </div>
    </div>
</div>