<div [formGroup]="profileInfo">
    <span>
      <h2 class="title-text-lg uppercase">Logo</h2>
      <p class="text-[13px] my-3 text-gray-500">Accepts PNG, JPG & SVG (Recommended)</p>
    </span>
    <br />
    <div class="w-48 border rounded p-2 h-min relative">
      <img [src]="profileInfo.get('photoURL')?.value || 'https://via.placeholder.com/150'" class="w-full h-full" alt="Profile Image" />
      <span nz-icon nzType="close-circle" class="text-red-500 -right-2 text-xl -top-4 p-1 rounded-full absolute" nzTheme="fill" (click)="clearImage()"></span>
    </div>
    <br />
    <div class="flex gap-x-8 w-full">
      <div class="w-full">
        <label class="title-text-md" for="displayName">FULL NAME</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="displayName" />
      </div>
      <div class="w-full">
        <label class="title-text-md" for="company">COMPANY</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="company" />
      </div>
    </div>
    <div class="flex gap-x-8">
      <div class="w-full">
        <label class="title-text-md" for="address">ADDRESS</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="address" />
      </div>
      <div class="w-full">
        <label class="title-text-md" for="email">EMAIL</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="email" />
      </div>
    </div>
    <div class="flex gap-x-8">
      <div class="w-full">
        <label class="title-text-md" for="phoneNumber">PHONE NUMBER</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="phoneNumber" />
      </div>
      <div class="w-full">
        <label class="title-text-md" for="website">WEBSITE</label>
        <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full" nz-input formControlName="website" />
      </div>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Save</button>
  </div>
  