<div class="mt-3 w-full justify-between" style="display: flex; gap: 0 20px;">
    <span>
        <p class="text-gray-500 font-semibold pb-1">INVOICE ID</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isInvoice"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1">DUE DATE</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isDueDate"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1"> CURRENCY</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isCurrency"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1"> DISCOUNT</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isDiscount"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1"> TAX</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isTax"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1"> NOTE</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isNote"></nz-switch>
    </span>
    <span>
        <p class="text-gray-500 font-semibold pb-1"> PAYMENT</p>
        <nz-switch style="width: min-content; margin: 5px auto;" [(ngModel)]="isPayment"></nz-switch>
    </span>
</div>