<div>
    <span>
        <h2 class="title-text-lg uppercase mb-7">Required fields</h2>
        <div class="p-8 pb-10 bg-gray-50 rounded-md">
            <app-toggle-options class=" w-full" />
        </div>
    </span>



    <!-- text settings -->
    <span>
        <h2 class="title-text-lg uppercase my-7">Tax settings</h2>

        <div class="p-8 pb-10 bg-gray-50 rounded-md">

            <div class="w-full">
                <label class="title-text-md uppercase" for="textId">Tax id</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" name="textId" type="text" />
            </div>

            <div class="flex gap-x-8">

                <div class="w-full">
                    <label class="title-text-md uppercase" for="amount">amount</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="amount" type="text" />
                </div>

                <div class="w-full">
                    <label class="title-text-md uppercase" for="method">Method</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="method" type="text" />
                </div>
            </div>
        </div>

    </span>


    <!-- Currency -->
    <span>
        <h2 class="title-text-lg uppercase my-7">Currency</h2>

        <div class="p-8 pb-10 bg-gray-50 rounded-md">

            <div class="flex gap-x-8">

                <div class="w-full">
                    <label class="title-text-md uppercase" for="currency">Currency</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="currency" type="text" />
                </div>

                <div class="w-full">
                    <label class="title-text-md uppercase" for="separator">separator</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="separator" type="text" />
                </div>
            </div>
            <div class="flex gap-x-8">

                <div class="w-full">
                    <label class="title-text-md uppercase" for="signPlacement">sign placement</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="signPlacement" type="text" />
                </div>

                <div class="w-full">
                    <label class="title-text-md uppercase" for="desimalFraction">desimal fraction</label>
                    <input
                        class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                        nz-input placeholder="" name="desimalFraction" type="text" />
                </div>
            </div>
        </div>

    </span>


    <!-- Currency -->
    <span>
        <h2 class="title-text-lg uppercase my-7">Currency</h2>

        <div class="p-8 pb-10 bg-gray-50 rounded-md">



            <div class="w-full">
                <label class="title-text-md uppercase" for="details">Details</label>
                <textarea rows="6"
                    class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="Bank account, digital payment options or other payment related information"
                    name="details"></textarea>
            </div>
        </div>

    </span>

</div>