 .layout {
     min-height: 100vh;
 }

 .logo {
     height: 32px;
     background: rgba(255, 255, 255, 0.2);
     margin: 16px;
 }

 nz-header {
     background: #fff;
     padding: 0;
 }

 nz-content {
     margin:0;
 }

 .inner-content {
     margin-top: 0;
     min-height: 360px;
 }

 nz-footer {
     text-align: center;
 }

