<app-generic-layout>
    <div header class="flex justify-between">

        <p class="mb-0 font-bold">Create A New Invoice</p>
        <div>
            <button style="margin-right: 14px;" class=" btn bg-danger text-white ">Clear</button>
            <button class="btn bg-secondary text-white">Primary Button</button>
        </div>

    </div>
    <div content>


        <nz-collapse [nzExpandIconPosition]="'right'">
            <nz-collapse-panel [nzHeader]="'FORM SETTINGS'" [nzActive]="false">
                <div style="margin-left: 15px;">
                    <p class="my-2 text-sm" style="color: rgb(145, 145, 145);">
                        Toggle any field to make it required in the form.
                    </p>
                    <div class="w-2/4">
                        <app-toggle-options class="w-full" />
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>



        <div class="px-7 border-t py-3">
            <p class="title-text">RECIPIENT *</p>

            <nz-radio-group class="flex flex-col mt-3" [(ngModel)]="isNewContact" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="true" class="pb-1">Create New</label>
                <label nz-radio [nzValue]="false">Select</label>
            </nz-radio-group>

            <div class="py-3">
                <div *ngIf="isNewContact">
                    <app-create-new></app-create-new>
                </div>

                <nz-select *ngIf="!isNewContact" [(ngModel)]="selectedContact" class="w-full"
                    [ngModelOptions]="{standalone: true}">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
            </div>

        </div>
        <div>
            <app-new-service />
        </div>
        <div>
            <app-prepayments />
        </div>


    </div>
</app-generic-layout>