<form [formGroup]="newContact" #form="ngForm">
    <div class="bg-slate-50 w-full p-6 rounded-md">
        <div class="flex gap-x-8 w-full">
            <div class="w-full">
                <label class="title-text" for="name">FULL NAME</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input   placeholder="" formControlName="name" id="name" type="text" />
                <div *ngIf="newContact.get('name')?.invalid && newContact.get('name')?.touched"
                    class="error-text">
                    Full name is required.
                </div>
            </div>
            <div class="w-full">
                <label class="title-text" for="company">COMPANY</label>
                <input  class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" formControlName="company" id="company" type="text" />
                <div *ngIf="newContact.get('company')?.invalid && newContact.get('company')?.touched"
                    class="error-text">
                    Company is required.
                </div>
            </div>
        </div>
        <div class="flex gap-x-8">
            <div class="w-full">
                <label class="title-text" for="email">EMAIL</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" formControlName="email" id="email" type="email" />
                <div *ngIf="newContact.get('email')?.invalid && newContact.get('email')?.touched" class="error-text">
                    <span *ngIf="newContact.get('email')?.errors?.['required']">Email is required.</span>
                    <span *ngIf="newContact.get('email')?.errors?.['email']">Invalid email format.</span>
                </div>
            </div>
            <div class="w-full">
                <label class="title-text" for="phoneNumber">PHONE NUMBER</label>
                <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                    nz-input placeholder="" formControlName="phoneNumber" id="phoneNumber" type="text" />
                <div *ngIf="newContact.get('phoneNumber')?.invalid && newContact.get('phoneNumber')?.touched"
                    class="error-text">
                    Phone number is required.
                </div>
            </div>
        </div>
        <div class="w-full">
            <label class="title-text" for="address">Address</label>
            <input class="my-3 focus:outline-0 px-3 py-2 rounded-md border-[0.2px] border-gray-200 bg-white w-full"
                nz-input placeholder="" formControlName="address" id="address" type="text" />
            <div *ngIf="newContact.get('address')?.invalid && newContact.get('address')?.touched" class="error-text">
                Address is required.
            </div>
        </div>
    </div>
</form>