<div class="w-full flex gap-x-4 items-center">
    <input [(ngModel)]="data.description"
        class="my-3 rounded-md focus:outline-0 placeholder:text-gray-500 px-3 py-2 border-[0.2px] border-gray-200 bg-white w-full"
        nz-input placeholder="Description" name="description" type="text" />

    <input [(ngModel)]="data.price"
        class="my-3 rounded-md max-w-80 placeholder:text-gray-500 focus:outline-0 px-3 py-2 border-[0.2px] border-gray-200 bg-white w-full"
        nz-input placeholder="Amount" name="amount" type="number" />

    <span class="gap-x-2 flex w-min h-min">
        <span (click)="onNew()" nz-icon nzType="plus" class="bg-primary cursor-pointer text-white p-[2px] rounded-full"
            nzTheme="outline"></span>
        <span (click)="onRemove()" nz-icon nzType="close"
            class="bg-danger cursor-pointer text-white p-[2px] rounded-full" nzTheme="outline"></span>
    </span>
</div>