<div class="w-full px-12 rounded-md">
    <p class="uppercase title-text-md">Product/Service *</p>

    <div class="w-full h-min" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let data of listOfData | keyvalue; let i = index" cdkDrag
            class="flex gap-x-2 items-center w-full">
            <span cdkDragHandle class="text-gray-600 p-1 w-min border rounded-full" nz-icon nzType="menu"
                nzTheme="outline"></span>
            <app-create-service class="w-full" [data]="data.value" (remove)="removeField(data.key)" (new)="addField()">
            </app-create-service>
        </div>
    </div>

    <button class="btn bg-primary uppercase my-8 text-white shadow-md" (click)="addField()">Add a new item</button>
</div>
